<div class="article panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h2>
    </div>
    <div class="panel-body">
        <p>{{summary}}</p>
        <a class="btn btn-success" href="{{link}}">Article Link</a>
        <a class="btn btn-danger" href="/articles/{{_id}}">Comment on this Article</a>
    </div>
</div>