<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{title}}</h2>
    </div>
    <div class="panel-body">
        <p>{{summary}}</p>
        <a href="{{link}}">Article Link</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Comments</h2>
    </div>
    <div class="comments panel-body">
        {{#each comments}} {{> comments}} {{/each}}
    </div>
</div>

<form id="comment-form" data-id="{{_id}}" action="">
    <div class="form-group">
        <label for="comment-text">Enter comment:</label>
        <textarea id="comment-text" class="form-control"></textarea>
    </div>
    <input type="submit" class="btn btn-danger" value="Add Comment">
</form>

<script src="/assets/js/comment.js"></script>