<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Articles</h2>
    </div>
    <div class="articles panel-body">
        {{#each docs}} {{> articles}} {{/each}}
    </div>
</div>


<button class="btn btn-primary" id="scraper">Scrape for New Articles</button>

<script src="/assets/js/scrape.js"></script>